
<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">Other Sample Horizontal form</h4>
  </div>
  <div class="card-body">
    <div class="form-body">
      <h3 class="box-title">Person Info</h3>
      <hr class="m-t-0 m-b-40">

          <%= render 'form', person: @person %>

    </div>
  </div>
</div>
