
<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">Departamentos</h4>
  </div>
  <div class="card-body">
    <div class="form-body">
      <h3 class="box-title">Datos</h3>
      <hr class="m-t-0 m-b-40">

      <%= render 'form', departamento: @departamento %>

    </div>
  </div>
</div>
