<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">Other Sample Horizontal form</h4>
  </div>
  <div class="card-body">
    <div class="form-body">
      <h3 class="box-title">Person Info</h3>
      <hr class="m-t-0 m-b-40">
      <p>
        <strong>Nombre:</strong>
        <%= @contract_type.name%>
      </p>
      <p>
      <%= link_to 'Editar', edit_contract_type_path(@contract_type), class:"btn btn-info"  %>
      <%= link_to 'Atras', contract_types_path, class:"btn btn-info"  %>
      </p>
    </div>
  </div>
</div>
