
<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">Grado académico</h4>
  </div>
  <div class="card-body">
    <div class="form-body">
      <h3 class="box-title">Datos</h3>
      <hr class="m-t-0 m-b-40">
      <p>
        <strong>Name:</strong>
        <%= @grade_academic.name %>
      </p>

      <p>
        <strong>Institution:</strong>
        <%= @grade_academic.institution %>
      </p>

      <p>
        <%= link_to 'Editar', edit_grade_academic_path(@grade_academic), class:"btn btn-info"  %>
        <%= link_to 'Atras', grade_academics_path, class:"btn btn-info"  %>
      </p>
    </div>
  </div>
</div>
