
<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">Profesión</h4>
  </div>
  <div class="card-body">
    <div class="form-body">
      <h3 class="box-title">Datos</h3>
      <hr class="m-t-0 m-b-40">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Nombre:</strong>
        <%= @profession.name %>
      </p>

      <%= link_to 'Edit', edit_profession_path(@profession) , class:"btn btn-info" %> |
      <%= link_to 'Back', professions_path, class:"btn btn-info"  %>
    </div>
  </div>
</div>
