
<div class="card card-outline-info">
  <div class="card-header">
    <h4 class="m-b-0 text-white">Evaluacion Psicologica</h4>
  </div>
  <div class="card-body">
    <div class="form-body">
      <h3 class="box-title">Evaluacion Psicologica Info</h3>
      <hr class="m-t-0 m-b-40">

          <%= render 'form', evaluacion_psicologica: @evaluacion_psicologica %>

    </div>
  </div>
</div>
