<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Guia de Ayuda interactiva para el Usuario</h4>
              <h6 class="card-subtitle">Guia Online</h6>
              <div class="vtabs customvtab">
                  <ul class="nav nav-tabs tabs-vertical" role="tablist">
                      <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home3" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">¿COMO CREAR UN USUARIO?</span> </a> </li>
                      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile3" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">¿COMO CREAR UN ROL Y ASIGNAR PERMISOS?</span></a> </li>
                      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages3" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">¿COMO CREAR UN AVISO?</span></a> </li>
                      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#t4" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">¿QUE SON LOS PRESTAMOS DE ACTIVO FIJO ?</span></a> </li>
                      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#t5" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">¿BACKUP Y SOPORTE ?</span></a> </li>
                      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#t6" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">USUARIO</span></a> </li>
                      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#t7" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">ROLES Y PERMISOS</span></a> </li>
                  </ul>
                  <div class="tab-content">
                      <div class="tab-pane active" id="home3" role="tabpanel">
                          <div class="p-20">
                            <p>
                              Ingresar al login en la pagina principal de RRHH, donde tienes que ingresar tus:
                            </p>
                            <p>
                              -EMAIL </br> -PASSWORD
                            </p>
                            <p>Posteriormente ingresaremos a una ventana donde tendras que ingresar tus datos personales
                               para que el sistema pueda identificarte</p>
                            </p>
                              -NOMBRE </br> -APELLIDO </br> -FECHA DE NACIMIENTO </br>-SEXO </br>-CI </br>-DIRECCION</br>-NUMERO DE CELULAR </br>-ESTADO CIVIL
                            </p>
                            <p>posteriormente tendras que guardar tu perfil aceptando los cambios</p>
                          </div>
                      </div>
                      <div class="tab-pane  p-20" id="profile3" role="tabpanel">
                        <p>
                          Es una caracteristica del sistema de RRHH que permite al usuaio administrador ,proporcionar
                          roles y permisos a distintos usuarios.
                        </p>
                      </div>
                      <div class="tab-pane p-20" id="messages3" role="tabpanel">
                        <p>
                          Podemos crear, editar y tener una vista predeterminada de cualquier tipo de anuncio
                          con respecto a lo que la empresa requiera.
                        </p>
                      </div>
                      <div class="tab-pane p-20" id="t4" role="tabpanel">
                        <p>
                          Caracteristicas:
                        </p>
                        <p>
                          -NOS CREAR UNA CANTIDAD DETERMINADA DE ACTIVOS EXISTENTES </br></br>
                          -NOS PERMITE ASIGNAR UNA CIERTA CANTIDAD A UN DETERMINADO EMPLEADO O USUARIO .</br></br>
                          -Y NOS PERMITE PODER REALIZAR UN DETALLE DEL MISMO ,PARA SU POSTERIOR REGISTRO
                        </p>
                      </div>
                      <div class="tab-pane p-20" id="t5" role="tabpanel">
                        <p>
                          Un software que permite de una forma rapida y eficiente crear una copia de seguridad de la
                          base de datos , actualizandose en un cierto determinado tiempo sin la necesidad de hacerlo de forma manual.
                        </p>
                      </div>
                      <div class="tab-pane p-20" id="t6" role="tabpanel">
                        <p>
                            Crear tu login y disfruta de las ventajas de RRHH
                        </p>
                      </div>
                      <div class="tab-pane p-20" id="t7" role="tabpanel">
                      <p class="m-b-xs">
                        Se realiza la asignacion de privilegios
                          <br/>
                      </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
